body {
  background-color: rgb(252, 235, 252);
  text-align: center;
}
h1 {
  font-family: sans-serif;
  font-size: 70px;
  color: rgb(128, 20, 155);
  font-style: bold;
  margin: 10px auto 50px auto;
}
img {
  width: 400px;
  height: 200px;
  margin-bottom: 50px;
}
main {
  border: 5px solid rgb(128, 20, 155);
  border-radius: 5%;
}
